import React from 'react';
import cn from 'clsx';
import PropTypes from 'prop-types';

import css from './{{name}}.module.css';

const {{name}} = ({ props }) => {
  return (
     <div></div>
  );
};

// TODO: Replace these with validation for the actual props
{{ name }}.propTypes = {
  props: PropTypes.object,
};

export default {{name}};
