:root {
  --font-family: "Poppins", "Helvetica", "Arial", sans-serif;

  /* Prototype Colors */

  --color-black-rgb: 32, 36, 32;
  --color-green: rgb(var(--color-green-rgb));
  --color-white: rgb(var(--color-white-rgb));

  --space-xl: 100px;
  --space-l: 10px;
}
