:root {
  --font-family: "Poppins", "Helvetica", "Arial", sans-serif;

  /* Prototype Colors */

  --color-black-rgb: 32, 36, 32;
  /* stilvoll:ignore:start */
  --color-green: rgb(var(--color-green-rgb));
  --color-white: rgb(var(--color-white-rgb));
  /* stilvoll:ignore:end */

  --color-text-primary: var(--color-white);

  --space-l: 10px;
  --space-xl: 20px;
}
